@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body {
	font-family: Ubuntu;
	font-size: 18px;
	}
.divPageBody {
	width: 50%;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	}

.divHowLong, p {
	font-size: 18px;
	line-height: 140%;
	margin-bottom: 10px;
	}
.emailInput {
	margin-top: 10px !important;
	font-size: 18px !important;
	padding: 3px !important; 
	height: 32px !important; 
	width: 400px !important;
	}
.btnConfirm {
	height: 28px;
	margin-left: 8px;
	}
td {
	vertical-align: middle;
	}

/* styles for phone */
	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {
		body {
			font-size: 16px;
			}
		.divPageBody {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 90px;
			}
		table {
			width: 95%;
			}
		.emailInput {
			width: 100% !important;
			}
		.modal {
			width: 95% !important;
			left: 70% !important;
			}
		
		}
/* styles for tablet */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		.divPageBody {
			width: 75%;
			margin-left: auto;
			margin-right: auto;
			}
		}
